<div class="container mt-5">
    <footer class="py-1 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted" routerLink="uploads">Transactions</a>
            </li>
        </ul>
        <p class="text-center text-muted">© 2023 Personal Finance Management, Inc</p>
    </footer>
</div>